/* Header */

.header {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;

    background-color: #07111f;

    border-bottom: 1px solid rgba(0, 188, 212, 0.2);
}


/* Logo */

.logo {
    display: flex;
    align-items: center;

    gap: 10px;

    color: #00bcd4;

    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
}


.logo img {
    width: 40px;
    height: 40px;

    object-fit: contain;
}


/* Navigation */

.nav {
    display: flex;
    align-items: center;

    gap: 30px;
}


.nav a {
    position: relative;

    color: #b8c7d9;

    font-size: 15px;

    text-decoration: none;

    transition: 0.3s ease;
}


/* Hover */

.nav a:hover {
    color: #00bcd4;
}


/* Active page */

.nav a.active {
    color: #00bcd4;
}


/* Active line */

.nav a.active::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -8px;

    width: 100%;
    height: 2px;

    background-color: #00bcd4;

    border-radius: 5px;
}


/* Mobile */

@media (max-width: 750px) {

    .header {
        height: auto;

        flex-direction: column;

        padding: 15px 20px;

        gap: 15px;
    }


    .nav {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;

        gap: 15px;
    }


    .nav a {
        font-size: 14px;
    }

}